* {
  box-sizing: border-box;
}
body 

{
    
  background-color: #ffe550;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: large;
  color:#ffe550;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:center;   
}
.music-container {
   
    border-radius: 0px;
    box-shadow: 0 20px 20px 0 #ff006a;
    display: flex;
    padding: 20px 20px;
    position: relative;
    margin: 500px 0;
    z-index: 10;
  }
  
  .img-container {
    position: relative;
    width: 110px;
  }
  
 
  
  .img-container img {
    border-radius: 50%;
    object-fit: cover;
    height: 110px;
    width: inherit;
    position: absolute;
    bottom: 0;
    left: 0;
    animation: rotate 10s linear infinite;
  
    animation-play-state: paused;
  }
  
  .music-container.play .img-container img {
    animation-play-state: running;
  }
  
  @keyframes rotate {
    from {
      transform: rotate(0deg);
    }
  
    to {
      transform: rotate(360deg);
    }
  }
  
  
  .navigation {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
  }
  
  .action-btn {
    background-color:#ffffff00;
    border: 0;
    color: #ff00ea;
    font-size: 20px;
    cursor: progress;
    padding: 10px;
    margin: 0 20px;
  }
  
  .action-btn.action-btn-big {
    color: #ff00ea;
    
    font-size: 20px;
  }
  
  .action-btn:focus {
    background-color:#f82fff;
    outline: 0;
  }
  
  .music-info {
    background-color: rgba(255, 255, 255, 0);
    border-radius: 5px 5px 0 0;
    position: absolute;
    top: 0;
   
    left: 20px;
    width: calc(100% - 40px);
    padding: 10px 10px 10px 150px;
    opacity: 0;
    transform: translateY(0%);
    transition: transform 0.3s ease-in, opacity 1s ease-in;
    z-index: 0;
    color:#fff27b
  }
  
  .music-container.play .music-info {
    opacity: 1;
    transform: translateY(-100%);
  }
  
  .music-info h4 {
    margin: 0;
  }
  
  .progress-container {
    background: #3cffdf;
    border-radius: 2px;
    cursor: pointer;
    margin: 10px 0;
    height: 4px;
    width: 100%;
  }
  
  .progress {
    background-color: #fffd7a;
    border-radius: 5px;
    height: 100%;
    width: 0%;
    transition: width 0.1s linear;
  }
h3 {margin: 0;
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
min height 100vh
display grid;
place-content: center;
text-align: center;
background: var (--bg-color);
;}
  h3::before,
  h3::after {
      content: "aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee.aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceeealiceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceeealiceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceeealiceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceeealiceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceeealiceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceeealiceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceeealiceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceeealiceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceeealiceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceeealiceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceeealiceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceeealiceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceeealiceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceeealiceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceeealiceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceeealiceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceeealiceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceeealiceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceeealiceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceeealiceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceeealiceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceeealiceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceeealiceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceeealiceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceeealiceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceeealiceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceeealiceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceeealiceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceeealiceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceeealiceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee aliceee. aliceee. aliceee. aliceee. aliceee. aliceee.aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee.  aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. aliceee. ";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      animation: infinite;
  }

  h3::before{
      background: rgba(0, 128, 128, 0);
      animation: typewriter 10s ease-in-out infinite;
  }

  @keyframes typewriter {
      to {
          left: 2%
      }
  }